<div>
    <ng-container>
         <video class="vedioTg" src="../../../../../assets/vedio/Information Technology. Have you heard about it_.mp4" type="video/mp4" autoplay [muted]="'muted'" loop></video>
    </ng-container>

    <ng-container>
        <div>
            <div>
               <h2> What we do</h2>
                <span>
                    <mat-list role="list">
                        <mat-list-item role="listitem"><span class="todo-vertical-line"></span> Artificial intelegence</mat-list-item>
                        <mat-list-item role="listitem"><span class="todo-vertical-line"></span> UI/UX</mat-list-item>
                        <mat-list-item role="listitem"><span class="todo-vertical-line"></span> Internate of Things(Iot)</mat-list-item>
                        
                      </mat-list>
                </span>
            </div>
            <div>
                <div>Corusel</div>
                <div>Pagination</div>
            </div>
        </div>
    </ng-container>
</div>